{
  "name": "A2019DatePackage",
  "label": "A2019DatePackage",
  "description": "Provides actions for A2019DatePackage operations.",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}